.App {
  width: 600px;
  margin: 100px auto;
  box-shadow: 0 0 5px lightblue;
  padding: 10px;
}

.spinner {
  display: flex;
  justify-content: center;
}

.header {
  display: flex;
  position: relative;

}
.container {
  display: flex;
  justify-content: flex-end;

}
.container1 {
  display: flex;
  justify-content: flex-end;
  margin-right: 90px;
}
.message {
  position: absolute;
  top: -50px;
  left: 17%;
  color: red;
  font-family: Georgia, "Times New Roman", Times, serif;
}

