.App{
  width: 600px;
  margin:100px auto;
  box-shadow: 0 0 5px lightblue;
  padding:10px;
}

.header{
  display:flex;
  position: relative;
}
.container{
  display:flex;
  justify-content: flex-end;
}
.container1{
  display:flex;
  justify-content: flex-end;
  margin-right: 90px;
}
.message{
  /* border: 1px solid red; */
  /* display: flex; */
  /* justify-content: center; */
  position: absolute;
  top:-50px;
  text-align: center;
  left:40%;

}

